.App {
    text-align: center;
    height: 100vh;
}

/* Media Queries */
@media (max-width: 768px) {
    .description {
        width: 90%;
        left: 5%;
        top: 15%;
    }

    .description h1 {
        font-size: 4rem;
    }

    .description p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .description {
        top: 10%;
    }

    .description h1 {
        font-size: 3rem;
    }

    .description p {
        font-size: 18px;
    }
}

